NODE_ENV=development
PORT=4000

DATABASE_URL=postgresql://admin:admin123@localhost:5432/nexusdial
REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=super-access-secret-change-me
JWT_REFRESH_SECRET=super-refresh-secret-change-me

OPENAI_API_KEY=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
GEMINI_API_KEY=AQ.Ab8RN6IoG8_Rt3xz06sjLbt6siUrH-U6HOv_DcPHisS9E4jJpA
AI_PROVIDER=gemini
